[Unit]
Description=Smart Wallpaper Rotator Daemon
After=graphical-session.target

[Service]
ExecStart=/home/jperez/WallpaperEngine/target/release/daemon
Restart=on-failure
RestartSec=5
Environment="ILLOGICAL_IMPULSE_VIRTUAL_ENV=/home/jperez/.local/state/quickshell/.venv"
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/home/jperez/.local/bin:/home/jperez/.cargo/bin"

[Install]
WantedBy=default.target
