@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #09090b; /* zinc-950 */
  color: #fafafa; /* zinc-50 */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
